.nav-tabs,
.nav-tabs li {
  display: inline-block;
}
.login-wrapper {
  margin-top: 40px;
  border-radius: 3px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.login-center{
  width: 400px;
}
